/* 초기화 */
body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 메뉴-박스 */
.menu-container {
    display: flex;
    position: fixed;
    justify-content: right;
    list-style: none;
    width: 100%;
    height: 40px;
    margin: -90px 0 0 0;
    padding: 15px 40px 10px 0;
    background: white;
    box-shadow: 0px 0px 10px #00000f50;
    z-index: 10;
}
/* 메뉴-아이템 */
.menu-item {
    margin: 10px 40px 0 0;
}
/* 메뉴상단-그라데이션박스 */
.menu-line {
    position: fixed;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #B92025, #F2F2F2);
    top: 0;
    left: 0;
}
/* 메뉴-로고 */
.menu-logo {
    margin: 0;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: 20px;
    position: fixed;
    top: 20px;
    left: 0px;
    cursor: pointer;
}
/* 메뉴-아이템-초기화 */
.menu-item a {
    text-decoration: none;
    color: #000;
}
/* 소개-전체부모 */
.info-container {
    margin: 100px auto 0 auto;
    width: 1000px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
/* 소개-뒤이미지 */
.info-img {
    margin: 0 auto 0 auto;
    width: 900px;
    height: auto;
    object-fit: cover;
    image-resolution: 100%;
    display: block;
}
/* 소개-카드부모 */
.info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -180px 0 0 0;
    padding: 0 0 0 70px;
}
/* 소개-카드드 */
.info-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* 소개-카드-이미지부모 */
.info-box-item {
    width: 65px;
    height: 65px;
    background: #B92023;
    border-radius: 32.5px;
    margin: auto auto auto auto;
    justify-content: center;
    align-items: center;
}
/* 소개-카드-이미지 */
.info-box-item img {
    margin: auto;
    justify-content: center;
    align-items: center;
}
/* 소개-카드~박스-연결라인 */
.info-box-line {
    width: 1px;
    height: 8px;
    background: #B92023;
}
/* 소개-박스 */
.info-box-content {
    width: 125px;
    height: 200px;
    box-shadow: 0px 5px 10px #00000f50;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: white;
}
/* 소개-이미지 */
.info-box-img {
    width: 50px;
    height: auto;
    margin: auto;
}
/* 소개-박스-제목 */
.info-box-title {
    color: #B92023;
    text-align: center;
}
/* 소개-박스-내용 */
.info-box-content-label {
    font-size: 12px;
    color: #494949;
}
/* 소개-박스-제목~내용-연결라인 */
.info-box-content-line {
    width: 20px;
    height: 1px;
    background: #B92023;
    width: 50px;
    margin: 10px auto 10px auto;
}
/* 회사이름라벨 */
.company-title {
    color: white;
    display: absolute;
    position: relative;
    margin: -220px 50px;
    padding-right: 20px;
    font-size: 30px;
    text-align: end;
}
/* 회사소개라벨 */
.company-content {
    color: #494949;
    display: flex;
    position: relative;
    margin: 240px 40px;
    padding-left: 55%;
    text-align: end;
    font-size: 14px;
    width: 350px;
}
.history-container {
    justify-items: center;
    align-items: center;
}
/* 회사연혁-배경 */
.history-bg {
    display: flex;
    width: 900px;
    height: 428px;
    image-resolution: 100%;
}
/* 회사연혁-이름 */
.history-title {
    display: flex;
    position: relative;
    margin: -135px 0px 0px -485px;
    text-align: end;
    font-size: 28px;
    color: white;
}
/* 회사연혁 */
.history-container {
    margin-top: -80px;
    width: 100%;
    height: 500px;
}

/* 회사연혁-내용 */
.history-container p {
    color: #494949;
    font-size: 8.5px;
    display: flex;
    position: relative;
}
/* 회사연혁-내용-step1 */
.history-label1 {
    margin: -17px 95px 0 510px;
    width: 400px;
}
/* 회사연혁-내용-step2 */
.history-label2 {
    margin: -235px 75px 0 525px;
    width: 400px;
}
/* 회사연혁-내용-step3 */
.history-label3 {
    margin: -253px 50px 0 540px;
    width: 400px;
}

.profile {
    margin: 0 auto 0 auto;
    width: 900px;
    height: 300px;
    justify-items: center;
    align-items: center;
}

.profile img {
    margin: 0 auto 0 auto;
    display: flex;
    position: relative;
    width: 225px;
    height: 285px;
}

.profile div {
    display: flex;
    position: relative;
    margin: auto;
    transform-origin: center;
}



/* 비전및목표-비전 */
.profile-vision-icon-title {
    top: -264px;
    left: 23px;
    font-size: 30px;
    color: #494949;
}

.profile-vision-icon-label {
    top: -273px;
    left: 24px;
    font-size: 16px;
    color: #494949;
}

.profile-vision-content-title {
    top: -370px;
    left: -70px;
    font-size: 18px;
    color: #B92023;
}

.profile-vision-content-label {
    top: -370px;
    left: -185px;
    font-size: 14px;
    color: #494949;
    text-align: end;
}

/* 비전및목표-핵심가치 */
.profile-core-icon-title {
    top: -330px;
    left: -50px;
    font-size: 30px;
    color: #494949;
}

.profile-core-icon-label {
    top: -340px;
    left: -50px;
    font-size: 16px;
    color: #494949;
}

.profile-core-content-title {
    top: -410px;
    left: -180px;
    font-size: 18px;
    color: #B92023;
}

.profile-core-content-label {
    top: -410px;
    left: -200px;
    color: #494949;
    text-align: end;
}

/* 비전및목표-핵심전략 */
.profile-strategy-icon-title {
    top: -500px;
    left: 50px;
    font-size: 30px;
    color: #494949;
}

.profile-strategy-icon-label {
    top: -510px;
    left: 50px;
    font-size: 16px;
    color: #494949;
}

.profile-strategy-content-title {
    top: -570px;
    left: 170px;
    font-size: 18px;
    color: #B92023;
}

.profile-strategy-content-label {
    top: -570px;
    left: 270px;
    font-size: 14px;
    color: #494949;
    text-align: start;
}