<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # 기존 파일이나 디렉토리는 그대로 처리
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # 모든 요청을 index.html로 리다이렉트
  RewriteRule ^ index.html [QSA,L]
</IfModule>
