.service-center {
    width: 900px;
    height: 420px;
    margin: 40px auto 0 auto;
    justify-items: center;
    align-items: center;
    position: relative;
    line-height: 0px;
}

.center-map {
    display: flex;
    position: relative;
    width: 100%;
}

.service-center hr {
    width: 100%;
    height: 1px;
    position: relative;
    top: 0px;
    background: #B92023;
    margin: 50px 0 50px 0;
}

.center-info1-title {
    text-align: start;
    margin: 0 auto 20px 10px;
    font-size: 24px;
    font-weight: bold;
    color: #B92023;
}

.center-info1-content {
    text-align: start;
    margin: 15px auto 15px 10px;
}

.center-content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.center-img {
    width: 450px;
    position: absolute;
    left: 0;
    margin: -20px auto 0 0;
}

.center-bkr{
    width: 440px;
    right: 0;
    position: absolute;
    margin: -20px 0 0 auto;
}

.center-content p {
    top: 500px;
    left: -50px;
}