@media (min-width: 768px){
    .service-center {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 420px;
        margin: 0px auto 0 auto;
        padding-top: 40px;
        line-height: 0px;
    }
    
    .service-center hr {
        position: relative;
        top: 0px;
        width: 90%;
        height: 1px;
        margin: 50px 0 50px 0;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }

    /* .center-content p {
        position: relative;
        /* top: 500px; */
        /* left: -90px; */
        /* text-align: end; 
    } */
    
    .center-content button {
        position: relative;
        top: 500px;
        left: -35px;
    }

    .center-info1-title {
        top: -5px;
        left: 7%;
        width: 335px;
        margin-right: auto;
        /* margin: 0 auto 20px 10px; */
        
        color: #B92023;
        font-size: 24px;
        font-weight: bold;
        text-align: start;
    }

    .center-info1-content {
        left: 7%;
        width: 335px;
        margin-right: auto;
        /* margin: 5px auto 0px 10px; */
        
        text-align: start;
        line-height: 30px;
    }

    .center-bkr{
        position: absolute;
        right: 7%;
        margin-top: -20px;
        width: 340px;
    }
}

@media (max-width: 768px){
    .service-center {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 5vw auto 5vw auto;
        height: 65vw;
        line-height: 0px;
    }

    .service-center hr {
        position: relative;
        top: 0px;
        width: 90%;
        height: 1px;
        margin: 0;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }

    .center-content p {
        position: relative;
        top: 100vw;
        text-align: end;
    }
    
    .center-content button {
        position: relative;
        top: 500px;
        left: -35px;
    }

    .center-info1-title {
        color: #B92023;
        left: 5vw;
        margin-right: auto;
        padding-top: 4vw;
        padding-bottom: 3vw;
        font-size: 4vw;
        font-weight: bold;
        text-align: start;
    }

    .center-info1-content {
        font-size: 3vw;
        line-height: 4vw;
        text-align: start;
        left: 5vw;
        margin-right: auto;

    }

    .center-bkr{
        position: absolute;
        right: 0;
        margin: -20px 0 0 auto;
        width: 440px;
    }
}

.center-map {
    display: flex;
    position: relative;
    width: 90%;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
