@media (min-width: 768px){
    .service-center {
        width: 100%;
        height: 420px;
        margin: 0px auto 0 auto;
        padding-top: 40px;
        justify-items: center;
        align-items: center;
        position: relative;
        line-height: 0px;
    }
    
    .service-center hr {
        width: 90%;
        height: 1px;
        position: relative;
        top: 0px;
        background: #B92023;
        margin: 50px 0 50px 0;
    }

    /* .center-content p {
        position: relative;
        /* top: 500px; */
        /* left: -90px; */
        /* text-align: end; 
    } */
    
    .center-content button {
        position: relative;
        top: 500px;
        left: -35px;
    }

    .center-info1-title {
        text-align: start;
        /* margin: 0 auto 20px 10px; */
        width: 335px;
        margin-right: auto;
        top: -5px;
        left: 7%;
        font-size: 24px;
        font-weight: bold;
        color: #B92023;
    }

    .center-info1-content {
        text-align: start;
        /* margin: 5px auto 0px 10px; */
        width: 335px;
        margin-right: auto;
        left: 7%;
        line-height: 30px;
    }

    .center-bkr{
        width: 340px;
        right: 7%;
        position: absolute;
        margin-top: -20px;
    }
}

@media (max-width: 768px){
    .service-center {
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 5vw;
        justify-items: center;
        align-items: center;
        position: relative;
        line-height: 0px;
    }

    .service-center hr {
        width: 90%;
        height: 1px;
        position: relative;
        top: 0px;
        background: #B92023;
        margin: 0;
    }

    .center-content p {
        position: relative;
        top: 100vw;
        text-align: end;
    }
    
    .center-content button {
        position: relative;
        top: 500px;
        left: -35px;
    }

    .center-info1-title {
        text-align: start;
        font-size: 4vw;
        font-weight: bold;
        color: #B92023;
    }

    .center-info1-content {
        text-align: start;
        line-height: 3vw;
        font-size: 2vw;
    }

    .center-bkr{
        width: 440px;
        right: 0;
        position: absolute;
        margin: -20px 0 0 auto;
    }
}

.center-map {
    display: flex;
    position: relative;
    width: 90%;
}

.center-content {
    flex-direction: column;
    display: flex;
    align-items: center;
}

