/* * {
    box-sizing: border-box;
} */
/* 초기화 */
body {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;

    width: 100% !important;
    margin: 0;

    background: white;
    font-family: 'Noto Sans KR', sans-serif;
    /* height: auto; */
    /* min-height: 100vh; */
    /* overflow-x: hidden; */
}

/* 소개-전체부모 */
.info-container {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 380px;
    margin: 0px auto 0 auto;
}

/* 소개-뒤이미지 */
.info-img {
    display: flex;
    width: 100%;
    margin: 100px auto 0 auto;
    image-resolution: 100%;
}

/* 소개-카드부모 */
.info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -180px 0 0 0;
    padding: 0 0 0 70px;
}

/* 소개-카드드 */
.info-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* 소개-카드-이미지부모 */
.info-box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    margin: auto;
    background: #B92023;
    border-radius: 32.5px;
}

/* 소개-카드~박스-연결라인 */
.info-box-line {
    width: 1px;
    height: 8px;
    background: #B92023;
}

/* 소개-박스 */
.info-box-content {
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 200px;
    padding: 20px;
    background: white;
    box-shadow: 0px 5px 10px #00000f50;
}

/* 소개-이미지 */
.info-box-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* 소개-박스-제목 */
.info-box-title {
    color: #B92023;
    text-align: center;
}

/* 소개-박스-내용 */
.info-box-content-label {
    font-size: 12px;
    color: #494949;
}

/* 소개-박스-제목~내용-연결라인 */
.info-box-content-line {
    width: 50px;
    height: 1px;
    margin: 10px auto 10px auto;
    background: #B92023;
}


@media (max-width: 768px) {
    .start-margin {
        margin-top: 22vw;
    }
}

@media (min-width: 768px) {
    .start-margin {
        margin-top: 110px;
    }
}
