/* 회사이름라벨 */
.company-title {
    display: absolute;
    position: relative;
    margin: -220px 50px;
    padding-right: 20px;
    color: white;
    font-size: 30px;
    text-align: end;
}

/* 회사소개라벨 */
.company-content {
    display: flex;
    position: relative;
    width: 350px;
    margin: 240px 40px;
    padding-left: 55%;
    color: #494949;
    font-size: 14px;
    text-align: end;
}

/* 회사연혁-배경 */
.history-bg {
    display: flex;
    width: 100vw;
    height: auto;
    image-resolution: 100%;
}

/* 회사연혁-이름 */
.history-title {
    display: flex;
    position: relative;
    top: -12.8vw;
    left: -27vw;
    margin: 0;
    color: white;
    font-size: 3vw;
}

/* 회사연혁 */
@media (min-width: 768px) {
    .history-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        padding-top: 0px;
        line-height: 0;
    }    
}

@media (max-width: 768px) {
    .history-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        line-height: 0;
    }    
}

/* 회사연혁-내용 */
.history-container p {
    display: flex;
    position: relative;
    color: #494949;
    font-size: 1vw;
    line-height: 1.2vw;
    text-align: start;
    height: 0;
}

/* 회사연혁-내용-step1 */
.history-label1 {
    /* margin: -17px 95px 0 510px; */
    top: -12.7vw;
    left: 18.5vw;
    width: auto;
}

/* 회사연혁-내용-step2 */
.history-label2 {
    /* margin: -235px 75px 0 525px; */
    top: -30vw;
    left: 22.6vw;
    width: auto;
}

/* 회사연혁-내용-step3 */
.history-label3 {
    /* margin: -253px 50px 0 540px; */
    top: -49.5vw;
    left: 20vw;
    width: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 38.5vw;
    margin: 0;
    line-height: 0;
}

.profile img {
    display: flex;
    position: relative;
    width: 30vw;
    margin: 0 auto 0 auto;
}

.profile div {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    transform-origin: center;
}

/* 비전및목표-비전 */
.profile-vision-icon-title {
    top: calc(50% - 12.5vw);
    left: calc(50%);
    color: #7F7F7F;
    font-size: 3.5vw;
}

.profile-vision-icon-label {
    top: calc(50% - 9.8vw);
    left: calc(50% + 0.8vw);
    color: #7F7F7F;
    font-size: 1.5vw;
}

.profile-vision-content-title {
    top: calc(50% - 22.5vw);
    left: calc(50% - 12.5vw);
    color: #B92023;
    font-size: 1.8vw;
}

.profile-vision-content-label {
    top: calc(50% - 21vw);
    left: calc(50% - 23vw);
    color: #7F7F7F;
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: end;
}

/* 비전및목표-핵심가치 */
.profile-core-icon-title {
    top: calc(50% - 3.2vw);
    left: calc(50% - 12.9vw);
    color: #7F7F7F;
    font-size: 3.5vw;
}

.profile-core-icon-label {
    top: calc(50% );
    left: calc(50% - 11vw);
    color: #7F7F7F;
    font-size: 1.5vw;
}

.profile-core-content-title {
    top: calc(50% - 4vw);
    left: calc(50% - 29vw);
    color: #B92023;
    font-size: 1.8vw;
}

.profile-core-content-label {
    top: calc(50% - 2vw);
    left: calc(50% - 31vw);
    color: #7F7F7F;
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: end;
}

/* 비전및목표-핵심전략 */
.profile-strategy-icon-title {
    top: calc(50% + 2.5vw);
    left: calc(50% + 0.1vw);
    color: #7F7F7F;
    font-size: 3.5vw;
}

.profile-strategy-icon-label {
    top: calc(50% + 5.8vw);
    left: calc(50% + 2.9vw);
    color: #7F7F7F;
    font-size: 1.5vw;
}

.profile-strategy-content-title {
    top: calc(50% + 3vw);
    left: calc(50% + 18vw);
    color: #B92023;
    font-size: 1.8vw;
}

.profile-strategy-content-label {
    top: calc(50% + 4.8vw);
    left: calc(50% + 17vw);
    color: #7F7F7F;
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-align: end;
}