/* --------------------------------------------- */
@media (max-width: 768px) {
    .service1 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 100%;
        height: 90vw;
        margin: 0;
        padding: 20vw 0 0 0;
        border: none;
        line-height: 0;
    }
    
    .service1 img {
        display: flex;
        position: relative;
        width: 80%;
        margin: 20vw 0 0 auto;
    }
    
    .service1 p {
        display: flex;
        position: absolute;
    }
    
    .service1-title {
        top: 25vw;
        left: 3vw;
        width: 94%;
        font-size: 3.5vw;
        font-weight: bold;
        text-align: start;
    }
    
    .service1-subtitle {
        top: 29vw;
        left: 5vw;
        width: 90%;
        font-size: 2.5vw;
        line-height: 2vw;
    }
    
    .service1-6DOF-notion-title {
        top: 62vw;
        left: 5vw;
        color: #002060;
        width: 90%;
        font-size: 2.5vw;
    }
    
    .service1-6DOF-notion-label {
        top: 64vw;
        left: 7vw;
        width: 86%;
        font-size: 2.5vw;
        line-height: 4vw;
    }
    
    .service1-6DOF-concept-title {
        top: 74vw;
        left: calc(50%);
        color: #002060;
        width: 45%;
        font-size: 2.5vw;
    }
    
    .service1-6DOF-concept-label {
        top: 76vw;
        left: calc(50% + 2vw);
        width: 43%;
        font-size: 2.5vw;
        line-height: 4vw;
    }
    
    .service1-6DOF-info {
        top: 91vw;
        left: 25%;
        color: #002060;
        font-size: 2.5vw;
        line-height: 3.5vw;
        text-align: center;
    }
    
    /* --------------------------------------------- */
    
    .service2 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 100%;
        height: 200vw;
        margin: 0;
        border: none;
        line-height: 0;
    }
    
    .service2 img {
        display: flex;
        position: relative;
        width: 100%;
    }
    
    .service2 div, p {
        position: relative;
        margin: 0;
        font-size: 3vw;
    }
    
    .service2-info1 {
        top: -77vw;
        left: calc(0% - 38vw);
        color: white;
    }
    
    .service2-info1-label {
        top: -69.5vw;
        left: calc(0% - 10vw);
        color: #494949;
    }
    
    .service2-info2 {
        top: -62vw;
        left: calc(0% - 38vw);
        color: white;
    }
    
    .service2-info2-label {
        top: -57vw;
        left: calc(0% - 12.5vw);
        color: #494949;
        line-height: 3vw;
    }
    
    .service2-info3 {
        top: -52.5vw;
        left: calc(0% - 37.5vw);
        color: white;
    }
    
    .service2-info3-label {
        top: -48vw;
        left: calc(0% - 5vw);
        color: #494949;
        line-height: 3vw;
    }
    
    .service2-info4 {
        top: -43vw;
        left: calc(0% - 37.5vw);
        color: white;
    }
    
    .service2-info4-label {
        top: -38.5vw;
        left: calc(0% - 8.5vw);
        color: #494949;
        line-height: 3vw;
    }
    
    .service2-info5 {
        top: -33.5vw;
        left: calc(0% - 37.5vw);
        color: white;
    }
    
    .service2-info5-label {
        top: -29vw;
        left: calc(0% - 5vw);
        color: #494949;
        line-height: 3vw;
    }
    
    /* --------------------------------------------- */
    
    .service3 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 0;
        padding-top: 0vw;
        line-height: 3.5vw;
        padding-bottom: 5vw;
    }
    
    .service3 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0;
    }
    
    .service3-table {
        width: 95%;
        margin: 5vw auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service3-table th, .service3-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service3-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }

    .service3-table td:first-child {
        background-color: #f9f9f9;
        text-align: center;
        width: 30%;
    }

    .service3-table td:nth-child(2) {
        text-align: start;
    }
    
    /* --------------------------------------------- */
    
    .service4 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 210vw;
        line-height: 0;
    }
    
    .service4 img {
        display: flex;
        position: relative;
        width: 90%;
    }
    
    .service4 div + p {
        display: flex;
        position: relative;
        font-size: 3.5vw;
    }
    
    .service4 hr {
        position: relative;
        top: 7.8vw;
        width: 100%;
        height: 1px;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }
    
    .service4-info1 {
        top: 2vw;
        left: 2vw;
        width: 96%;
        line-height: 3.5vw;
    }
    
    .service4-table {
        width: 95%;
        margin: 5vw auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service4-table th, .service4-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service4-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }
    
    .service4-table td:first-child {
        text-align: center;
        font-weight: bold;
        background-color: #f9f9f9;
        width: 10%;
    }

    .service4-table td:nth-child(2) {
        text-align: center;
        font-weight: bold;
        width: 25%;
    }
    
    /* --------------------------------------------- */
    
    .service5 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        line-height: 0;
        padding-bottom: 5vw;
    }
    
    .service5 img {
        display: flex;
        position: relative;
        width: 100%;
    }
    
    .service5 p {
        display: flex;
        position: relative;
        font-size: 3vw;
    }

    .service5-table {
        width: 95%;
        margin: 5vw auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service5-table th, .service5-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service5-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }

    .service5-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
        width: 5vw;
    }
    
    .service5 hr {
        position: relative;
        top: 7.8vw;
        width: 100%;
        height: 1px;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }
    
    /* --------------------------------------------- */
    
    .service6 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 210vw;
        margin: 0vw auto 0 auto;
        line-height: 0;
    }
    
    .service6 img {
        display: flex;
        position: relative;
        width: 98%;
        margin: 0vw 0 0 auto;
        object-fit: cover;
    }
    
    .service6 div, p {
        display: flex;
        position: relative;
    }

    .service6-headline-bg {
        top: 0vw;
        width: 100%;
        height: 5vw;
        box-sizing: border-box;
        background: linear-gradient(to right, #B92023, #E5696C);
        min-height: 5vw;
    }
    
    .service6-title {
        top: 2vw;
        left: 2vw;
        width: 100%;
        color: white;
        font-size: 2.5vw;
    }
    
    .service6-subtitle {
        top: 2vw;
        left: 2vw;
        width: 100%;
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        text-align: end;
    }

    .service6-img-2{
        padding-top: 0vw;
    }
    
    .service6-description {
        top: -90.5vw;
        left: 10%;
        width: 80%;
        font-size: 3vw;
        line-height: 4vw;
    }
    
    .service6-table {
        width: 95%;
        margin: 5vw auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service6-table th, .service6-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service6-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }
    
    .service6-table td:first-child {
        text-align: center;
        font-weight: bold;
        background-color: #f9f9f9;
        width: 15%;
    }
    
    .service6-img-title {
        top: -16.5vw;
        left: 21%;
        font-size: 4vw;
        width: fit-content;
    }
    
    /* --------------------------------------------- */
    
    .service7 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 240vw;
        line-height: 0;
    }
    
    .service7 img {
        display: flex;
        position: relative;
        width: 40%;
        align-self: self-start;
        left: 5vw;
    }
    
    .service7 div, p {
        display: flex;
        position: relative;
    }
    
    .service7-title {
        top: -45vw;
        left: 50%;
        color:#B92023;
        font-size: 3vw;
    }
    
    .service7-subtitle {
        top: -40vw;
        left: 45%;
        font-size: 3vw;
        line-height: 3.5vw;
    }
    
    .service7-system {
        flex-direction: column;
        position: relative;
        top: -30vw;
        font-size: 1.3vw;
        line-height: 1.2;
    }
    
    .service7-system-title {
        position: relative;
        align-self: center;
        font-size: 3.5vw;
        text-align: center;
        margin-bottom: 2vw;
        color: #B92023;
    }
    
    .service7-table {
        width: 95%;
        margin: 0 auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service7-table th, .service7-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service7-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }
    
    .service7-table td:first-child {
        text-align: center;
        font-weight: bold;
        background-color: #f9f9f9;
        width: 30%;
    }
    
    .service7-usability {
        flex-direction: column;
        position: relative;
        top: -25vw;
        font-size: 1.3vw;
        line-height: 1.2;
    }
    
    .service7-usability-title {
        position: relative;
        align-self: center;
        font-size: 3.5vw;
        text-align: center;
        margin-bottom: 2vw;
        color: #B92023;
    }
    
    .service7-difference {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -20vw;
        font-size: 1.3vw;
    }
    
    .service7-difference-title {
        position: relative;
        align-self: center;
        font-size: 3.5vw;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 4vw;
        color: #B92023;
    }
    
    /* --------------------------------------------- */
    
    .service8 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        line-height: 0;
        padding-bottom: 5vw;
    }
    
    .service8 img {
        display: flex;
        position: relative;
        width: 100%;
    }
    
    .service8-title {
        position: relative;
        align-self: center;
        font-size: 3.5vw;
        text-align: center;
        margin-top: 5vw;
        margin-bottom: 2vw;
        color: #B92023;
    }

    .service8-table {
        width: 95%;
        margin: 0 auto;
        border-collapse: collapse;
        font-size: 2.5vw;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .service8-table th, .service8-table td {
        border: 1px solid #ccc;
        padding: 2vw;
        vertical-align: middle;
        color: #333;
    }
    
    .service8-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
        width: 30%;
    }
    
    /* --------------------------------------------- */
    
    .service9 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 48vw;
        line-height: 0;
        padding-top: 3vw;
    }
    
    .service9 img {
        display: flex;
        position: relative;
        width: 98%;
        align-self: center;
    }
    
    .service9 p {
        display: flex;
        position: relative;
        top: -53vw;
        left: 3vw;
        font-size: 3vw;
        line-height: 3.5vw;
    }
    
    .service9-title1 {
        display: flex;
        position: relative;
        top: -39.5vw;
        left: 3vw;
        color: white;
        font-size: 3vw;
    }
    
    .service9-title2 {
        display: flex;
        position: relative;
        top: -39.5vw;
        left: 24.5vw;
        color: white;
        font-size: 3vw;
    }
    
    .service9-title3 {
        display: flex;
        position: relative;
        top: -21.5vw;
        left: 3vw;
        color: white;
        font-size: 3vw;
    }
    
    .service9-title4 {
        display: flex;
        position: relative;
        top: -21.7vw;
        left: 24.5vw;
        color: white;
        font-size: 3vw;
    }
    
    .service9-title5 {
        display: flex;
        position: relative;
        top: -34vw;
        align-self: self-end;
        right: 9vw;
        color: white;
        font-size: 3vw;
    }
}
