/* --------------------------------------------- */
@media (min-width: 768px) {
    .service1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        height: 250px;
        margin: 100px auto 0 auto;
        line-height: 0;
    }
    
    .service1 img {
        display: flex;
        position: relative;
        width: 70%;
        margin: 150px 0 0 auto;
    }
    
    .service1 p {
        display: flex;
        position: relative;
    }
    
    .service1 hr {
        position: relative;
        top: -50px;
        width: 85%;
        height: 1px;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }
    
    .service1-title {
        top: -430px;
        left: -200px;
        font-weight: bold;
    }
    
    .service1-subtitle {
        top: -440px;
        left: -90px;
    }
    
    .service1-6DOF-notion-title {
        top: -390px;
        left: -320px;
        color: #002060;
    }
    
    .service1-6DOF-notion-label {
        top: -400px;
        left: -295px;
    }
    
    .service1-6DOF-concept-title {
        top: -390px;
        left: -320px;
        color: #002060;
    }
    
    .service1-6DOF-concept-label {
        top: -400px;
        left: -280px;
    }
    
    .service1-6DOF-info {
        top: -690px;
        left: 180px;
        color: #002060;
    }
    
    /* --------------------------------------------- */
    
    .service2 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 900px;
        height: 480px;
        margin: 30px auto 0 auto;
        line-height: 0;
    }
    
    .service2 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service2 div + p {
        display: flex;
        position: relative;
        font-size: 12px;
    }
    
    .service2 div {
        font-size: 12px;
    }
    
    .service2 p {
        display: flex;
        position: relative;
        font-size: 12px;
    }
    
    .service2-info1 {
        display: flex;
        position: relative;
        top: -423px;
        left: 220px;
        width: 470px;
        color: white;
    }
    
    .service2-info1-label {
        top: -423px;
        left: 220px;
        width: 400px;
        color: #494949;
    }
    
    .service2-info2 {
        display: flex;
        position: relative;
        top: -405px;
        left: 220px;
        width: 470px;
        color: white;
    }
    
    .service2-info2-label {
        top: -405px;
        left: 220px;
        width: 400px;
        color: #494949;
    }
    
    .service2-info3 {
        display: flex;
        position: relative;
        top: -385px;
        left: 220px;
        width: 470px;
        color: white;
    }
    
    .service2-info3-label {
        top: -390px;
        left: 220px;
        width: 400px;
        color: #494949;
    }
    
    .service2-info4 {
        display: flex;
        position: relative;
        top: -385px;
        left: 205px;
        width: 470px;
        color: white;
    }
    
    .service2-info4-label {
        top: -390px;
        left: 220px;
        width: 400px;
        color: #494949;
    }
    
    .service2-info5 {
        display: flex;
        position: relative;
        top: -368px;
        left: 220px;
        width: 470px;
        color: white;
    }
    
    .service2-info5-label {
        top: -368px;
        left: 220px;
        width: 400px;
        color: #494949;
    }
    
    .service2-info6 {
        top: -523px;
        left: -128px;
    }
    
    .service2-info7 {
        top: -525px;
        left: -128px;
    }
    
    .service2-info8 {
        top: -520px;
        left: -115px;
    }
    
    .service2-info9 {
        top: -573px;
        left: -325px;
    }
    
    .service2-info10 {
        top: -577px;
        left: -310px;
    }
    
    .service2-info11 {
        top: -573px;
        left: -322px;
    }
    
    .service2-info12 {
        top: -582px;
        left: -110px;
    }
    
    .service2-info13 {
        top: -588px;
        left: -310px;
    }
    
    .service2-info14 {
        top: -590px;
        left: -130px;
    }
    
    /* --------------------------------------------- */
    
    .service3 {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        width: 900px;
        height: 450px;
        margin: -120px auto 0 auto;
        line-height: 0;
    }
    
    .service3 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service3 p {
        display: flex;
        position: relative;
        font-size: 12px;
    }
    
    .service3 hr {
        position: relative;
        top: 70px;
        width: 100%;
        height: 1px;
        background: #B92023;
        border: 0;
        min-height: 1px;
    }
    
    .service3-info1 {
        top: -230px;
        left: -300px;
    }
    
    .service3-info2 {
        top: -375px;
        left: -50px;
    }
    
    .service3-info3 {
        top: -310px;
        left: -50px;
    }
    
    .service3-info4 {
        top: -730px;
        left: 300px;
    }
    
    /* --------------------------------------------- */
    
    .service4 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: 480px;
        margin: -140px auto 0 auto;
        line-height: 0;
    }
    
    .service4 img {
        display: flex;
        position: relative;
        width: 100%;
    }
    
    .service4 div + p {
        display: flex;
        position: relative;
        font-size: 12px;
    }

    .service4-table-line {
        display: flex;
        position: fixed;
        top: 0vw;
        left: 0vw;
        width: 100%;
        height: 1vw;
        box-sizing: border-box;
        background: linear-gradient(to right, #B92025, #F2F2F2);
    }
    
    .service4-info1 {
        top: -360px;
        left: 250px;
        /* padding-top: 10vw; */
        /* left: 1vw; */
    }
    
    .service4-info2-tab {
        top: -350px;
        left: 10px;
    }
    
    .service4-info2-title {
        top: -380px;
        left: 70px;
    }
    
    .service4-info2-content {
        top: -410px;
        left: 320px;
        text-align: start;
    }
    
    .service4-info2-1 {
        top: -390px;
        left: 10px;
    }
    
    .service4-info2-1-title {
        top: -420px;
        left: 67px;
    }
    
    .service4-info2-1-content {
        top: -450px;
        left: 320px;
        text-align: start;
    }
    
    .service4-info2-2 {
        top: -450px;
        left: 10px;
    }
    
    .service4-info2-2-title {
        top: -480px;
        left: 80px;
        text-align: center;
    }
    
    .service4-info2-2-content {
        top: -510px;
        left: 310px;
        text-align: start;
    }
    
    .service4-info2-3 {
        top: -510px;
        left: 10px;
    }
    
    .service4-info2-3-title {
        top: -540px;
        left: 67px;
        text-align: start;
    }
    
    .service4-info2-3-content {
        top: -585px;
        left: 360px;
        text-align: start;
    }
    
    .service4-info2-4 {
        top: -580px;
        left: 10px;
    }
    
    .service4-info2-4-title {
        top: -610px;
        left: 68px;
        text-align: start;
    }
    
    .service4-info2-4-content {
        top: -640px;
        left: 305px;
        text-align: start;
    }
    
    .service4-info2-5 {
        top: -630px;
        left: 10px;
    }
    
    .service4-info2-5-title {
        top: -660px;
        left: 82px;
        text-align: start;
    }
    
    .service4-info2-5-content {
        top: -690px;
        left: 345px;
        text-align: start;
    }
    
    .service4-info2-6 {
        top: -680px;
        left: 10px;
    }
    
    .service4-info2-6-title {
        top: -710px;
        left: 63px;
        text-align: start;
    }
    
    .service4-info2-6-content {
        top: -740px;
        left: 295px;
        text-align: start;
    }
    
    /* --------------------------------------------- */
    
    .service5 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: 480px;
        margin: -100px auto 0 auto;
        line-height: 0;
    }
    
    .service5 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service5 p {
        display: flex;
        position: relative;
        font-size: 12px;
    }
    
    .service5-info {
        top: -500px;
        left: -200px;
        text-align: start;
    }
    
    .service5 hr {
        position: relative;
        top: 70px;
        width: 100%;
        height: 1px;
    }
    
    /* --------------------------------------------- */
    
    .service6 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: auto;
        margin: -170px auto 0 auto;
        line-height: 0;
        padding-bottom: 50px;
    }
    
    .service6 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
        height: 350px;
        object-fit: cover;
    }
    
    .service6 div {
        display: flex;
        position: relative;
    }
    
    .service6 p {
        display: flex;
        position: relative;
    }
    
    .service6-title {
        top: -450px;
        left: -150px;
        color: white;
        text-align: end;
    }
    
    .service6-subtitle {
        top: -498px;
        left: 190px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: end;
    }
    
    .service6-description {
        top: -483px;
        left: 230px;
        font-size: 13px;
    }
    
    .service6-table {
        position: relative;
        top: -350px;
        width: 850px;
        border-collapse: collapse;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.9);
        line-height: 1.4;
    }
    
    .service6-table th, .service6-table td {
        border: 1px solid #ccc;
        padding: 10px;
        vertical-align: middle;
        color: #333;
    }
    
    .service6-table th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: center;
    }
    
    .service6-table td:first-child {
        text-align: center;
        font-weight: bold;
        background-color: #f9f9f9;
        width: 100px;
    }
    
    .service6-img-title {
        top: -300px;
        left: 245px;
    }
    
    /* --------------------------------------------- */
    
    .service7 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: 480px;
        margin: -100px auto 0 auto;
        line-height: 0;
    }
    
    .service7 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service7 div, p {
        display: flex;
        position: relative;
    }
    
    .service7-title {
        top: -410px;
        left: -308px;
        color:#B92023;
        font-size: 18px;
    }
    
    .service7-subtitle {
        top: -420px;
        left: -270px;
        font-size: 14px;
    }
    
    .service7-system {
        flex-direction: column;
        position: relative;
        top: -400px;
        font-size: 12px;
        line-height: 1.2;
    }
    
    .service7-system-title {
        top: -37px;
        left: -250px;
        width: 350px;
        font-size: 12px;
        color: white;
    }
    
    .service7-system-tab {
        top: -45px;
        left: -240px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -85px;
        left: -155px;
        width: 270px;
        font-size: 12px;
        text-align: center;
    }
    
    .service7-system-1-title {
        top: -95px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-1-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -139px;
        left: -191px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-2-title {
        top: -157px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-2-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -195px;
        left: -157px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-3-title {
        top: -206px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-3-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -251px;
        left: -215px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-4-title {
        top: -269px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-4-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -308px;
        left: -175px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-5-title {
        top: -318px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-5-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -357px;
        left: -182px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-6-title {
        top: -367px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-6-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -405px;
        left: -160px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-system-7-title {
        top: -417px;
        left: -265px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-system-7-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -470px;
        left: -166px;
        width: 270px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-usability {
        flex-direction: column;
        position: relative;
        top: -1040px;
        font-size: 12px;
        line-height: 1.2;
    }
    
    .service7-usability-title {
        top: -12px;
        left: 180px;
        width: 350px;
        font-size: 12px;
        color: white;
    }
    
    .service7-usability-tab {
        top: -25px;
        left: 180px;
        width: 350px;
        font-size: 12px;
    }
    
    .service7-usability-content {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -65px;
        left: 255px;
        width: 270px;
        font-size: 12px;
        text-align: center;
    }
    
    .service7-usability-1-title {
        top: -72px;
        left: 160px;
        width: 100px;
        font-size: 12px;
    }
    
    .service7-usability-1-content {
        display: flex;
        top: -117px;
        left: 245px;
        width: 350px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-usability-2-title {
        top: -136px;
        left: 160px;
        width: 100px;
        font-size: 12px;
    }
    
    .service7-usability-2-content {
        display: flex;
        top: -175px;
        left: 245px;
        width: 350px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-usability-3-title {
        top: -195px;
        left: 160px;
        width: 100px;
        font-size: 12px;
    }
    
    .service7-usability-3-content {
        display: flex;
        top: -235px;
        left: 245px;
        width: 350px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-usability-4-title {
        top: -250px;
        left: 160px;
        width: 100px;
        font-size: 12px;
    }
    
    .service7-usability-4-content {
        display: flex;
        top: -287px;
        left: 245px;
        width: 350px;
        font-size: 12px;
        text-align: start;
        line-height: 1.2;
    }
    
    .service7-difference {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        top: -1720px;
        font-size: 12px;
    }
    
    .service7-difference-title {
        top: -20px;
        left: 370px;
        color: white;
        font-size: 12px;
    }
    
    .service7-difference-content {
        flex-direction: column;
        top: -8px;
        left: 300px;
        width: 270px;
        font-size: 12px;
        line-height: 1.2;
    }
    
    /* --------------------------------------------- */
    
    .service8 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: 480px;
        margin: -130px auto 0 auto;
        line-height: 0;
    }
    
    .service8 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service8 p {
        display: flex;
        position: relative;
        top: -490px;
        left: -175px;
        width: 500px;
        font-size: 14px;
    }
    
    /* --------------------------------------------- */
    
    .service9 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 900px;
        height: 450px;
        margin: -150px auto 0 auto;
        line-height: 0;
    }
    
    .service9 img {
        display: flex;
        position: relative;
        width: 100%;
        margin: 150px 0 0 auto;
    }
    
    .service9 p {
        display: flex;
        position: relative;
        top: -470px;
        left: -175px;
        width: 500px;
        font-size: 14px;
    }
    
    .service9-title1 {
        display: flex;
        position: relative;
        top: -378px;
        left: -165px;
        width: 500px;
        color: white;
        font-size: 18px;
    }
    
    .service9-title2 {
        display: flex;
        position: relative;
        top: -404px;
        left: 35px;
        width: 500px;
        color: white;
        font-size: 18px;
    }
    
    .service9-title3 {
        display: flex;
        position: relative;
        top: -267px;
        left: -165px;
        width: 500px;
        color: white;
        font-size: 18px;
    }
    
    .service9-title4 {
        display: flex;
        position: relative;
        top: -294px;
        left: 35px;
        width: 500px;
        color: white;
        font-size: 18px;
    }
    
    .service9-title5 {
        display: flex;
        position: relative;
        top: -433px;
        left: 535px;
        width: 500px;
        color: white;
        font-size: 18px;
    }
}
